@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-scroll;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  #modal {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #modal::-webkit-scrollbar {
    display: none;
  }

  body {
   
  }

  /* width */
  ::-webkit-scrollbar {
    
  }

  /* Track */
  ::-webkit-scrollbar-track {
   
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    
  }
}

/*////////////////////*/
/* RE-USABLE CLASSES */
@layer components {
  
}